<!DOCTYPE html>
<html ng-app="reporter">
<head>

  <title>Action Saver</title>

  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
  <script src="script.js"></script>

</head>
<body>

<h1>Report</h1>

<hr/>

<div id="report" ng-controller="ReportController">
  <ul>
    <li ng-repeat="entry in entries">
      <span><input type="text" ng-model="entry.time" hour-minute />: {{entry.name}}</span>
    </li>
  </ul>
</div>

<hr/>

<small><a href="http://twitter.com/itarato">@itarato</a></small>

</body>
</html>